[general]
# basedir="/shared/muled"

[muled]
pidfile=/var/run/muled.pid
user=root
group=root
ip-port=9090
worker-threads=5

[mysql]
username=gua_auth
password=b$hSm5a2@rT
server=tcp://127.0.0.1:3306
poolsize=5